@use '../../styles/variables' as vars;

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.requests {
  display: grid;
  grid-template-columns: 384px auto;
  gap: var(--spacing-24);
  align-items: start;
}

.requestsTitle {
  display: contents;
  width: 100%;
}

.requestsCards {
  display: contents;
}

.requestsCards > * {
  grid-column: 2;
}

.signUp {
  display: block;
  grid-column: 1;
  grid-row: 2;
}

@media screen and (max-width: #{vars.$mobile}) {
  .mainContainer {
    gap: 80px;
  }

  .mainText {
    white-space: pre-line;
  }

  .requests {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
  }

  .signUp {
    display: none;
  }

  .requestsCards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }
}