@use '../../../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  padding: var(--spacing-24);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  width: 100%;
}

/* Desktop styles */
@media screen and (min-width: #{vars.$mobile}) {
  .container {
    flex-direction: row;
    padding: var(--spacing-32);
  }
}