@use '../../../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
}

.avatar {
  border-radius: var(--radius-32);
  height: 384px;
  aspect-ratio: 1;
  object-fit: cover;
}

.texts {
  margin-top: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  overflow: hidden;
  justify-content: space-between;
  white-space: pre-line;
}

.facts {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-24);
}

.fact {
  display: flex;
  flex-direction: column;
  width: 180px;
}

@media screen and (max-width: #{vars.$mobile}) {
  .content {
    flex-direction: column;
  }

  .avatar {
    max-height: 359px;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 0 auto;
  }

  .texts {
    margin: 0;
  }

  .facts {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: var(--spacing-8);
    column-gap: var(--spacing-24);
  }

  .fact {
    width: 167px;
  }
}