.button {
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0;

    .text {
        font-family: var(--font-family);
        font-size: var(--font-size-16);
        font-weight: var(--font-400);
        line-height: var(--line-height-20);
        color: var(--color-accent-text);
    }

    .icon {
        width: 24px;
        height: 24px;
        filter: brightness(0) saturate(100%) invert(24%) sepia(74%) saturate(779%) hue-rotate(198deg) brightness(93%) contrast(89%);
    }

    &:hover {
        .text {
            color: var(--color-accent-text-hover);
        }
        .icon {
            filter: brightness(0) saturate(100%) invert(50%) sepia(9%) saturate(1901%) hue-rotate(189deg) brightness(91%) contrast(84%);
        }
    }

    &:active {
        .text {
            color: var(--color-accent-text-pressed);
        }
        .icon {
            filter: brightness(0) saturate(100%) invert(24%) sepia(74%) saturate(779%) hue-rotate(198deg) brightness(93%) contrast(89%);
        }
    }
}