@use '../../../styles/variables' as vars;

.footer {
  background: var(--color-bg-secondary);
  position: sticky;
  bottom: 0;
  margin-top: auto;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-24) 0;
  gap: var(--spacing-24);
  height: 90px;
  width: 1200px;
  margin: 0 auto;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  flex: 1;
}

.container::before {
  content: '';
  flex: 1;
}

@media screen and (max-width: #{vars.$mobile}) {
  .container {
    padding: var(--spacing-12) var(--spacing-8);
    justify-content: space-between;
    gap: 0;
    height: 66px;
    width: 100%;
  }

  .container::before {
    display: none;
  }

  .textGroup {
    flex: 1;
    max-width: 171.5px;
    gap: var(--spacing-2);
    padding: 0;
  }
}