@use '../../styles/variables' as vars;

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

@media screen and (max-width: #{vars.$mobile}) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}