/* FooterDesktop styles */
.FooterDesktop {
  width: 100%;
  background-color: var(--color-bg-primary);
  padding: 24px 0;
}

.FooterDesktop__sizeKeeper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterDesktop__textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* FooterMobile styles */
.FooterMobile {
  width: 100%;
  background-color: var(--color-bg-primary);
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.FooterMobile__textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}