/* SignUpButton base styles */
.SignUpButton {
    display: inline-flex;
    align-items: center;
    gap: 0px;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
  }
  
  .SignUpButton__icon {
    color: var(--color-accent-text-default);
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/icons/arrow.svg");
  }
  
  /* States */
  .SignUpButton:hover {
    color: var(--color-accent-text-hover);
  }
  
  .SignUpButton:hover .SignUpButton__icon {
    color: var(--color-accent-text-hover);
  }
  
  .SignUpButton:active {
    color: var(--color-accent-text-pressed);
  }
  
  .SignUpButton:active .SignUpButton__icon {
    color: var(--color-accent-text-pressed);
  }
  
  /* Disabled state */
  .SignUpButton[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }